.order-list {
	width: 50vw;
	border-left: 1px solid black;
	padding-left: 15px;
}

.order-items-container {
	height: 50vh;
	overflow: scroll;
}

.order-item-values {
	width: 25%;
}

.totals {
	width: 100%;
}

.keys-and-total-container {
	display: flex;
}

.keys-container {
	width: 45%;
}

.totals-container {
	width: 55%;
}

